<% include layout/header.ejs %>

        <form method="POST">
            <input type="text" name="title">
            <br>
            <textarea col="30" rows="7" name="body"></textarea>
            <br>
            <button type="submit">Submit</button>
        </form>
<% include layout/footer.ejs %>