<% include layout/header.ejs %>

<a href="/create">
    Add</a>
    <ul>
        <% posts.forEach(function(post){ %>
                <li>
                <b>
                    <%= post.title %>
                </b>
                <br>
                <%= post.body %>
            </li>
            <br>
        <% }); %>
    </ul>

    <% include layout/footer.ejs %>